<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>[yource]仮登録完了のお知らせ</title>
    <style>
        body {
            font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue",
                Arial,
                "Hiragino Kaku Gothic ProN",
                "Hiragino Sans",
                Meiryo,
                sans-serif,
                "Segoe UI Emoji";
        }
    </style>
</head>

<body>
    <strong>仮登録が完了しました。</strong><br>
    <p>引き続き、本登録へとお進みください。</p>
    <p>------------------------------------</p>
    <p>本登録用url : <a href="https://yource.space/verify?token={{.Token}}">https://yource.space/verify?token={{.Token}}</a>
    </p>
    <p>------------------------------------</p>
    <p><small>※上記URLの有効期限は24時間となっております。</small></p>
</body>

</html>